@charset "utf-8";
/* CSS Document */
.homepage {
	overflow:hidden;
	zoom:1;
}
.home_portrait {
	display:inline-block;
	float:left;
	margin:5px 0 0 3px;
}
.home_username {
	display:inline;
	float:left;
	font-size:24px;
	font-weight:bold;
	margin:5px 0 0 20px;
}
.user_info {
	overflow:hidden;
	zoom:1;
}
.user_stat {
	float:right;
	padding:5px;
}
.user_stat_num {
	display:inline-block;
	float:left;	
	width:100px;
	height:100px;
	margin-left:20px;
	color:#666;
	font-size:14px;
	text-align:center;
	border:1px solid #eaeaea;
	border-radius:4px;
	box-shadow:0px 0px 5px #CCC;
}
.user_stat_num:hover , .user_stat .hover {
	background:#518ef4;
	color:#FFF;
	text-decoration:none;
}
.user_stat_num span {
	display:block;
	font-size:30px;
	font-weight:bold;
	padding:16px 0;
}

/*home_video*/
.video_display {
	margin-top:25px;
	overflow:hidden;
	zoom:1;
}
.home_video {
	float:left;
	line-height:2em;
	padding:3px;
	margin:0 7px 22px 0;
	overflow:hidden;
	zoom:1;
}
.home_video_adjust {
	margin-right:0;
}
.home_video_descrip {
	padding:10px 3px 20px;
}
.home_video_name {
	font-size:14px;
}
.home_video_time {
	font-size:12px;
}
.home_video_time a {
	display:inline-block;
}
.home_video_time span {
	color:#999;
}
.home_video_stat {
	color:#666;
}
.home_video_stat img {
	vertical-align:middle;
	margin-right:5px;
}
.home_video_btn {
	float:left;
	margin-right:30px;
}
/*homepage_friend*/
.friend_display {
	margin-top:35px;
	overflow:hidden;
	zoom:1;
}
.friend_concern {
	float:left;
	width:446px;
	margin:0 85px 25px 0;
}
.friend_concern_adjust {
	margin-right:0;
}
.friend_concern_info {
	width:340px;
}