@charset "utf-8";
/* CSS Document */
#header {
	min-width:1200px;
}
.index_bg_black {
	height:622px;
	width:100%;
	min-width:1200px;
	background:#000;
	position:absolute;
	top:39px;
	left:0;
	z-index:-200;
}
#container {
	position:relative;
	height:900px;
}
.index_bg {
	position:absolute;
	left:-125px;
	margin-top:-10px;
	font-size:0;
	z-index:-100;
}
.index_cam {
	position:absolute;
	top:160px;
	left:0;
}
.index_text {
	color:#FFF;
	font-size:14px;
	line-height:2em;
	position:absolute;
	top:300px;
	left:0;
}
.index_text_slogan {
	font-size:30px;
	line-height:2em;
}
.get_app_btn {
	display:block;
	width:214px;
	height:83px;
	background:url(../images/get_app.png) no-repeat;
	_background:none;
	_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod="crop", src="images/get_app.png");
	position:absolute;
	top:480px;
	left:-10px;
}
.index_phone_bg {
	position:absolute;
	top:-10px;
	left:462px;
}
.index_phone_con {
	position:absolute;
	top:20px;
	left:498px;
}
.change_btn {
	position:absolute;
	left:647px;
	top:805px;
}
.change_btn a {
	display:block;
	float:left;
	width:30px;
	height:3px;
	background:#e0e0e0;
	margin-right:5px;
}
.change_btn a:hover, a.change_btn_act {
	background:#666;
}

.index_phone_con {
    width: 385px;
    height: 592px;
    overflow: hidden;
}

.index_phone_con ul {
    overflow: hidden;
    width: 1155px;
    position: absolute;
    top: 0;
    left: 0;
}

.index_phone_con li {
    float: left;
}

.index_phone_con img {
    display: block;
}

